# image 1 - This Kyrie 2 Id Men's Basketball Shoe
# black -Air Jordan 1 Low SP Travis Scott Black Phantom
# blue - Air Jordan 1 Low Aluminum
# green - Nike Dunk Low Spartan Green
# orange - Nike SB Dunk Low Concepts Orange Lobster
# red - Nike SB Dunk Low Cherry
# red - Air Jordan 1 Low Bred Toe

# I have created an impressive Product Card using only HTML, CSS, and Vanilla JavaScript. This card allows you to change the color of the shoe, and as a result, the main color of the card dynamically updates to match the selected shoe color. Additionally, I have incorporated a captivating animation that occurs when changing the shoe's background color. Moreover, the card is designed to be fully responsive, ensuring a seamless experience across different devices."

/node_modules